@model User

@{
    ViewData["Title"] = "Profile";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<section class="vh-100" style="background-color: #E9DAC8;">

    <label for="firstname">Όνομα:</label>
    <input type="text" name="firstname" id="firstname"/>

    <label for="lastname">Επώνυμο:</label>
    <input type="text" name="lastname" id="lastname" />

    <label for="username">Όνομα Χρήστη:</label>
    <input type="text" name="username" id="username" />

    <label for="semester">Εξάμηνο:</label>
    <input type="number" name="semester" id="semester" max="32" min="0" />
</section>



