@model User

@{
    ViewData["Title"] = "Profile";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<section class="vh-100" style="background-color: #E9DAC8;">
    
</section>



