@model User

@{
    ViewData["Title"] = "Profile";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<h1>Επεξεργασία Στοιχείων</h1>

<h3>@TempData["Error"]</h3>
<section class="vh-100" style="background-color: #E9DAC8;">

    <form method="post">
        <label for="firstname">Όνομα:</label>
        <input type="text" name="firstname" id="firstname"/>
    
        <label for="lastname">Επώνυμο:</label>
        <input type="text" name="lastname" id="lastname" />
    
        <label for="username">Όνομα Χρήστη:</label>
        <input type="text" name="username" id="username" />
        
        <label for="email">Ηλεκτρονικό Ταχυδρομείο:</label>
        <input type="email" name="email" id="email" />
    
        <label for="semester">Εξάμηνο:</label>
        <input type="number" name="semester" id="semester" max="32" min="1" />

        <button type="submit">Υποβολη</button>
    </form>
    
</section>



