@{
    ViewData["Title"] = "Suggestions";
}

@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/suggestions.css" />
}

<div>
    <div class="suggestions-card-body px-5 py-5 mx-4">
        <h5 class="mb-3" id="subject"><b>Σύμφωνα με τις επιδώσεις σας στα τεστ...</b></h5>
        <p>Ο επαγγελματικός προσανατολισμός που σας ταιριάζει είναι ο/η/το -προσανατολισμος-. Τα σχετικά επαγγέλματα είναι τα: 
            -επ1-, -επ2-, -επ3-. Παρακάτω μπορείτε να δείτε και κάποια μεταπτυχιακά προγράμματα που θα σας βοηθήσουν να εμπλουτίσετε 
            τις γνώσεις σας στο συγκεκριμένο αντικείμενο. 
        </p>
        <ul>
            <li class="">
                Μεταπτυχιακό 1
            </li>
            <li class="">
                Μεταπτυχιακό 2
            </li>

        </ul>
        
        <img src="~/images/career.png" alt="logo" class="main-img" />
        
    </div>
</div>