@{
    ViewData["Title"] = "Dashboard";
}

@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/homepage.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
}



<div>
    hello there
</div>
