@{
    ViewData["Title"] = "Dashboard";
}

@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/homepage.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
}



<div class="px-5 py-5">
    <div class="welcome-card row py-4 px-4">
        <div class="col-7">
            <h3 class="py-3">Γεια σας user! 👋</h3>
            <p>
                <i class="fas fa-info-circle"></i> Το <b>EduCompass</b> πρόκειται για μια διαδικτυακή εφαρμογή για προπτυχιακούς και μεταπτυχιακούς
                φοιτητές πληροφορικής που ψάχνουν τα επόμενα επαγγελματικά τους βήματα. </p>
        </div>
        
        <div class="col-5">
            <img src="~/images/find.png"
                 alt="homepage img" class="welcome-img ps-3" />
        </div>
        
    </div>
    <div class="row my-5">
        <h3>Δεν ξέρετε από που να ξεκινήσετε;</h3>
                <div class=" col-4">
                    <div class="pt-4">
                        <p class="option-text"><a href="/Course/OrientationPage/">Τεστάρετε</a> τις γνώσεις σας.</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <img id="image-opt" src="~/images/study.png"
                             alt="option img" class="option-img d-flex justify-content-center" />
                    </div>
                </div>

    
                <div class=" col-4">
                    <div class="pt-4">
                        <p class="option-text">Δείτε τα <a href="/User/Statistics/">στατιστικά</a> προόδου σας.</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <img src="~/images/statistics.png"
                             alt="option img" class="option-img d-flex justify-content-center" />
                    </div>
                </div>

                <div class=" col-4">
                    <div class="pt-4">
                        <p class="option-text">
                            Δείτε τις <a href="/User/Suggestions/">συστάσεις</a> του συστήματος.
                        </p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <img src="~/images/career.png"
                             alt="option img" class="option-img d-flex justify-content-center" />
                    </div>
                </div>



    </div>
</div>
