@{
    ViewData["Title"] = "IntroTest";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<section class="vh-100" style="background-color: #E9DAC8;">
    <div class="container px-5 py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form>
                                <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Πριν ξεκινήσουμε...</h3>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;" id="subject">Τίτλος μαθήματος</h5>

                                <div class="row form-outline mb-4">
                                    <label class="form-label" for="grade">Βαθμός μαθήματος</label>
                                    <input type="number" id="grade" class="form-control form-control-lg" min="0" max="10"/>
                                    
                                </div>
                                <div class="row form-outline mb-4">
                                    <label class="form-label" for="interest">Ενδιαφέρον προς το μάθημα</label>
                                    <input type="number" id="interest" class="form-control form-control-lg" min="1" max="5" />
                                    
                                </div>
                              
                                

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-outline-dark btn-lg btn-block" type="button">Προηγούμενο</button>
                                        <button class="btn btn-dark btn-lg btn-block" type="button">Επόμενο</button>
                                    </div>

                                    
                                </form>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



