
@{
    ViewData["Title"] = "Help - EvaluationTest";
}

@{
    Layout = "_HelpMenu";
}

<div class="px-5 py-5">
    <h2> Επαναληπτικά Τεστ </h2>
    <p>
        Σε όλες τις <a href="~/Help/HelpOrientations">ενότητες</a> σας δίνεται η δυνατότητα να κάνετε ένα επαναληπτικό τεστ. Θα μπορείτε να κάνετε το 
        επαναληπτικό τεστ, όταν θα 
        έχετε κάνει κουίζ σε όλα τα μαθήματα του προσανατολισμού και θα έχετε βαθμό από 50% και πάνω.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/unlocked_evaluation_test.png"
             alt="unlocked evaluation test" class="my-4" />
    </div>
    <p >
        Μόλις πατήσετε το κουμπί για να κάνετε επαναληπτικό τεστ, θα μεταβείτε στη σχετική σελίδα, όπου θα βρείτε ερωτήσεις 
        από όλα τα μαθήματα. Τόσο στα <a href="~/Help/HelpCourseTest">τεστ μαθημάτων</a> όσο και στα επαναληπτικά τεστ, έχετε τη δυνατότητα να βλέπετε τις απαντήσεις σας,
        έχοντας την υπόδειξη της σωστής απάντησης, σε όσες απαντήσατε λάθος. Οι λειτουργίες ενός επαναληπτικού τεστ είναι ίδιες με αυτές ενός <a href="~/Help/HelpCourseTest">τεστ μαθήματος</a>.
    </p>
</div>


