
@{
    ViewData["Title"] = "Help - Suggestions";
}

@{
    Layout = "_HelpMenu";
}

<div class="px-5 py-5">
    <h2>Συστάσεις συστήματος</h2>
    <p>
        Το EduCompass σας παρέχει τη δυνατότητα να δείτε ποια επαγγέλματα σας ταιριάζουν, βάσει των επιδόσεών σας. Κάνοντας κλικ στην 
        επιλογή <b>Μεταπτυχιακά</b> του μενού στα αριστερά της οθόνης σας, μπορείτε να μεταβείτε στη σελίδα με τις συστάσεις του συστήματος. 
        Σε αυτή τη σελίδα μπορείτε να δείτε ποια επαγγέλματα σας ταιριάζουν περισσότερο, αλλά και ποια μεταπτυχιακά προγράμματα σχετίζονται 
        με αυτά και θα σας βοηθούσαν να αναπτύξετε περισσότερο τις γνώσεις σας.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/suggestions.png"
             alt="suggestions" class="my-4" />
    </div>
    <p >
        Σε αυτήν τη σελίδα, σας προβάλλεται η κατεύθυνση στην οποία έχετε τις καλύτερες επιδόσεις, αλλά και το περισσότερο ενδιαφέρον. Παρακάτω, 
        φαίνονται τα σχετικά επαγγέλματα με αυτήν την κατεύθυνση, αλλά και μία λίστα με μεταπτυχιακά προγράμματα. Κάνοντας κλικ σε κάθε μεταπτυχιακό 
        πρόγραμμα, μπορείτε να τα επισκεφθείτε και δείτε το πρόγραμμα σπουδών τους.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/master_example.png"
             alt="master example" class="my-4" />
    </div>
</div>


