
@{
    ViewData["Title"] = "Help - Dashboard";
}

@{
    Layout = "_HelpMenu";
}

<div class="px-5 py-5">
    <h2>Αρχική</h2>
    <p>
        Μετά την επιτυχή σύνδεσή σας στο EduCompass, θα βρεθείτε στην <b>Αρχική σελίδα</b>. Μπορείτε ανά πάσα στιγμή να ξαναβρεθείτε στην Αρχική Σελίδα,
        κάνοντας κλικ στην επιλογή <b>Αρχική</b> στο μενού που βρίσκεται αριστερά στην οθόνη σας.

        Στην αρχική σελίδα, μπορείτε να δείτε μια σύντομη περιγραφή της εφαρμογής καθώς και συνδέσμους μετάβασης σε κάθε μια από τις τρεις βασικές υπηρεσίες που παρέχει.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/dashboard.png"
             alt="dashboard" class="my-4" />
    </div>
    <p >
        Κάνοντας κλικ στον σύνδεσμο <b>«τεστάρετε»</b>, θα οδηγηθείτε στη σελίδα <b>«Μαθήματα»</b>.
        <br />Κάνοντας κλικ στον σύνδεσμο <b>«στατιστικά»</b> θα οδηγηθείτε στη σελίδα <b>«Στατιστικά»</b>.
        <br />Κάνοντας κλικ στον σύνδεσμο <b>«συστάσεις»</b> θα οδηγηθείτε στη σελίδα <b>«Μεταπτυχιακά»</b>.

        <br />Στις παραπάνω σελίδες μπορείτε να οδηγηθείτε ανά πάσα στιγμή και από το μενού που βρίσκεται αριστερά της οθόνης.
    </p>

    
</div>


