
@{
    ViewData["Title"] = "Help - On-line help start page";
}

@{
    Layout = "_HelpMenu";
}

<div class="px-5 py-5" >
    <h2>On-line βοήθεια</h2>
    <p>
        Το <b>EduCompass</b> πρόκειται για μια διαδικτυακή εφαρμογή για προπτυχιακούς και μεταπτυχιακούς
        φοιτητές πληροφορικής που ψάχνουν τα επόμενα επαγγελματικά τους βήματα. 
    </p>
    <p>
        Περιηγηθείτε στις σελίδες βοήθειας του on-line help συστήματος με το <b>μενού στα αριστερά της οθόνης σας</b>.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help.png"
             alt="help start" style="width:300px"/>
    </div>

</div>


