
@{
    ViewData["Title"] = "Help - EditProfile";
}

@{
    Layout = "_HelpMenu";
}

<div class="px-5 py-5">
    <h2>Επεξεργασία Προφίλ</h2>
    <p>
        Στη σελίδα επεξεργασίας προφίλ, μπορείτε να βάλετε τα στοιχεία που θέλετε να αλλάξετε και να αφήσετε κενά τα πεδία τα οποία θέλετε 
        να παραμείνουν το ίδιο. Μόλις τελειώσετε με τις αλλαγές σας, μπορείτε να πατήσετε το κουμπί της αλλαγής στοιχείων και θα ενημερωθούν 
        άμεσα τα στοιχεία σας.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/edit_profile.png"
             alt="edit profile" class="my-4" />
    </div>
    <p >
        Σε περίπτωση που εισάγετε κάποιο όνομα χρήστη ή e-mail που αντιστοιχεί σε άλλον χρήστη, το προφίλ σας δεν θα ενημερωθεί και θα λάβετε 
        κατάλληλο μήνυμα στο κάτω δεξιά μέρος της οθόνης σας.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/edit_profile_error.png"
             alt="edit profile error" class="my-4" />
    </div>
</div>


