
@{
    ViewData["Title"] = "Help - Signout";
}

@{
    Layout = "_HelpMenu";
}

<div class="px-5 py-5">
    <h2>Αποσύνδεση από την εφαρμογή</h2>
    <p>
        Μπορείτε να αποσυνδεθείτε από την εφαρμογή οποιαδήποτε στιγμή θέλετε κάνοντας κλικ στην επιλογή <b>Αποσύνδεση </b>
        του μενού στο αριστερό μέρος της οθόνης σας.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/logout_btn.png"
             alt="logout_btn" class="my-4" />
    </div>
    <p>
        Σε περίπτωση που η εφαρμογή μείνει αδρανής για παρατεταμένη ώρα, η σύνοδος σας λήγει και αποσυνδέεστε αυτόματα από την εφαρμογή.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/end_of_session.png"
             alt="end_of_session" class="my-4" />
    </div>

    
</div>


