
@{
    ViewData["Title"] = "Help - CourseTest";
}

@{
    Layout = "_HelpMenu";
}

<div class="px-5 py-5">
    <h2>Τεστ Μαθημάτων  </h2>
    <p>
        Για να κάνετε τεστ στα μαθήματα, θα πρέπει να κάνετε κλικ στο κουμπί με την ένδειξη <b>Κάνετε το τεστ</b>, 
        στη 
        <a href="~/Help/HelpCourse">
            σελίδα ενός συγκεκριμένου μαθήματος.
        </a>
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/course_test.png"
             alt="course test" class="my-4" />
    </div>
    <p >
        Το τεστ αποτελείται από 5 ερωτήσεις πάνω στο περιεχόμενο του μαθήματος. Οι ερωτήσεις είναι διαφορετικές κάθε φορά και μπορεί να είναι τύπου σωστό/λάθος, πολλαπλής επιλογής και συμπλήρωσης κενού.

        Στο κάτω μέρος της σελίδας του τεστ μπορείτε να δείτε τα κουμπιά με ενδείξεις <b>Ακύρωση</b> και <b>Τέλος τεστ</b>.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/course_test_2.png"
             alt="course test 2" class="my-4" />
    </div>
    <p>
        Κάνοντας κλικ στο κουμπί με ένδειξη <b>Ακύρωση</b>, πηγαίνετε πίσω στη σελίδα του μαθήματος.
        <br />
        Κάνοντας κλικ στο κουμπί με ένδειξη <b>Τέλος τεστ</b>, υποβάλετε τις απαντήσεις σας και μεταβαίνετε στη σελίδα με τα αποτελέσματα του τεστ. Στην σελίδα αυτή μπορείτε να δείτε τον βαθμό σας στο τεστ καθώς και αντίστοιχο μήνυμα επιτυχίας ή αποτυχίας σύμφωνα με αυτόν.

    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/course_test_success.png"
             alt="course test success" class="my-4" />
        <img src="~/images/help/course_test_fail.png"
             alt="course test fail" class="my-4" />
    </div>
    <p>
        Μπορείτε επίσης να δείτε και το κουμπί με ένδειξη <b>Αρχική σελίδα</b> με το οποίο μπορείτε να οδηγηθείτε στην αρχική σελίδα.

        Κάνοντας σκρολ προς τα κάτω μπορείτε τα δείτε και τις απαντήσεις σας στο τεστ. Μπορείτε να δείτε σε ποιες ερωτήσεις απαντήσατε σωστά και σε ποιες απαντήσατε λάθος. Μάλιστα, αν σε κάποια ερώτηση έχετε απαντήσει λάθος, θα υπάρχει και η υπόδειξη της σωστής απάντησης σε αυτήν την ερώτηση.

    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/course_test_answers.png"
             alt="course test answers" class="my-4" />
    </div>

</div>


