
@{
    ViewData["Title"] = "Help - Profile";
}

@{
    Layout = "_HelpMenu";
}

<div class="px-5 py-5">
    <h2>Προφίλ</h2>
    <p>
        Κάνοντας κλικ στην επιλογή <b>Προφίλ</b> του μενού στα αριστερά της οθόνης σας, μπορείτε να μεταβείτε στη σελίδα διαχείρισης προφίλ.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/profile.png"
             alt="profile" class="my-4" />
    </div>
    <p >
        Σε αυτή τη σελίδα μπορείτε να δείτε τις πληροφορίες του προφίλ σας, καθώς και δύο κουμπιά με ενδείξεις <b>Εισαγωγικό τεστ</b> και
        <b>Επεξεργασία προφίλ</b> αντίστοιχα.
    </p>
    <p>
        Κάνοντας κλικ στο κουμπί με ένδειξη <b>Εισαγωγικό τεστ</b> μπορείτε να ξανακάνετε το εισαγωγικό τεστ.
        <br />
        Κάνοντας κλικ στο κουμπί με ένδειξη <b>Επεξεργασία προφίλ</b> μεταβαίνετε στη σελίδα επεξεργασίας των στοιχείων του προφίλ σας.
    </p>
</div>


