
@{
    ViewData["Title"] = "Help - SignUp";
}

@{
    Layout = "_HelpMenu";
}

<div class="px-5 py-5">
    <h2>Εγγραφή</h2>
    <p>
        Για να έχετε πρόσβαση στις υπηρεσίες του EduCompass, θα πρέπει, πρώτα, να συνδεθείτε στην εφαρμογή. 
        Για την σύνδεση στην εφαρμογή, πρέπει να έχετε φτιάξει λογαριασμό.
    </p>
    <p>
        Σε περίπτωση που δεν έχετε λογαριασμό, μπορείτε να μεταβείτε στην σελίδα <b>Εγγραφή</b> κάνοντας κλικ στον σύνδεσμο
        <b>Εγγραφείτε εδώ</b> της σελίδας <b>Σύνδεση</b>, ο οποίος θα σας οδηγήσει στην <b>σελίδα εγγραφής.</b>
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/sign_up_empty.png"
             alt="signup empty" class="my-4" />
    </div>
    <p >
        Για να εγγραφείτε χρειάζεται να ακολουθήστε την παρακάτω διαδικασία:

        <ul>
            <li>
                Στην σελίδα <b>Εγγραφή</b>, στο πεδίο με ένδειξη <b>Όνομα χρήστη</b>, πληκτρολογήστε το όνομα χρήστη που επιθυμείτε.
            </li>
            <li>Στο πεδίο με ένδειξη <b>E-mail</b>, πληκτρολογήστε τη διεύθυνση ηλεκτρονικού ταχυδρομείου σας.</li>

            <li>Στο πεδίο με ένδειξη <b>Όνομα</b>, πληκτρολογήστε το όνομά σας.</li>

            <li>Στο πεδίο με ένδειξη <b>Επώνυμο</b>, πληκτρολογήστε το επώνυμό σας.</li>

            <li>Στο πεδίο με ένδειξη <b>Κωδικός πρόσβασης</b>, πληκτρολογήστε τον κωδικό πρόσβασης που επιθυμείτε.</li>

            <li>Στο πεδίο με ένδειξη <b>Επιβεβαίωση κωδικού πρόσβασης</b>, επαναλάβετε τον κωδικό πρόσβασης που πληκτρολογήσατε στο προηγούμενο πεδίο.</li>
        </ul>
        Όταν συμπληρώσετε αυτά τα στοιχεία, μπορείτε να <b>κάνετε κλικ στο κουμπί της εγγραφής</b> και θα αρχίσει η διαδικασία της εγγραφής σας στο EduCompass.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/sign_up.png"
             alt="signup filled" class="my-4" />
    </div>
    <p>
        <b class="note">ΣΗΜΕΙΩΣΗ:</b> Το όνομα χρήστη και το e-mail είναι μοναδικά πεδία. Αυτό σημαίνει ότι αν χρησιμοποιείται έστω κι ένα από αυτά τα πεδία από άλλους χρήστες, δεν θα πραγματοποιηθεί η εγγραφή σας.

    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/sign_up_unique.png"
             alt="signup unique " class="my-4" />
    </div>
    <p>
        <b class="note">ΣΗΜΕΙΩΣΗ:</b> Πρέπει να εισάγετε τον ίδιο κωδικό στα πεδία <b>Κωδικός πρόσβασης</b> και <b>Επιβεβαίωση κωδικού πρόσβασης</b>. Αν τα πεδία αυτά είναι διαφορετικά δεν θα πραγματοποιηθεί η εγγραφή σας.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/sign_up_wrong_pass.png"
             alt="signup wrong pass" class="my-4" />
    </div>
</div>


