
@{
    ViewData["Title"] = "Help - Statistics";
}

@{
    Layout = "_HelpMenu";
}

<div class="px-5 py-5">
    <h2>Στατιστικά</h2>
    <p>
        Το EduCompass σας δίνει την δυνατότητα να δείτε στατιστικά τόσο σύμφωνα με τους βαθμούς σας στα μαθήματα και τις ενότητές τους, 
        όσο και για τον χρόνο που καταναλώνετε σε κάθε μάθημα. Κάνοντας κλικ στην επιλογή <b>Στατιστικά</b> του μενού στα αριστερά της οθόνης σας, 
        μπορείτε να μεταβείτε στη σελίδα των στατιστικών και να δείτε σε ποιους επαγγελματικούς προσανατολισμούς τα πηγαίνετε καλύτερα και 
        σε ποιους χρειάζεστε περισσότερη δουλειά.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/statistics.png"
             alt="statistics" class="my-4" />
    </div>
    <h4>Στατιστικά επιδόσεων </h4>
    <p >
        Όπως φαίνεται και παρακάτω, τα στατιστικά είναι ξεχωριστά για κάθε τύπο επίδοσης. Μπορείτε να δείτε τις επιδόσεις σας ξεχωριστά 
        στα τεστ της εφαρμογής για τον κάθε επαγγελματικό προσανατολισμό, στους βαθμούς που έχετε πάρει στα μαθήματα και ως προς το ενδιαφέρον σας. 
        Αυτό που μετράει περισσότερο, βέβαια, είναι η γενικές επιδόσεις σας, μιας και το EduCompass βασίζεται σε αυτά τα στοιχεία, ώστε να σας προτείνει 
        επαγγελματικούς προσανατολισμούς. Για τον υπολογισμό των γενικών επιδόσεων, το EduCompass λαμβάνει υπόψιν και τους τρεις παραπάνω τύπους 
        επίδοσης με προκαθορισμένους συντελεστές βαρύτητας.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/statistics_progress.png"
             alt="statistics progress" class="my-4" />
    </div>
    <h4>Στατιστικά χρόνου  </h4>
    <p>
        Μπορείτε, επιπλέον, να δείτε πόσο χρόνο έχετε αφιερώσει στη σελίδα κάθε μαθήματος.
    </p>
    <div class=" d-flex justify-content-center">
        <img src="~/images/help/statistics_time.png"
             alt="statistics time" class="my-4" />
    </div>
</div>


