@model Course

@{
    ViewData["Title"] = "IntroTest";
}

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/test.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body class="vh-100">
    <section class="mt-5 vh-95">
        <div class="container center">
            <div class="center">
                <h1 class="d-flex justify-content-evenly mt-5"><b>Πριν ξεκινήσουμε...</b></h1>
                <h6 class="d-flex justify-content-evenly">Απαντήστε τις ερωτήσεις με βάση τους βαθμούς σας στα παρακάτω μαθήματα και το ενδιαφέρον σας για αυτά</h6>
                <div class="d-flex justify-content-evenly">
                    <form action="PostGrade" method="post">
                        <h5 class="my-3" style="letter-spacing: 1px;" id="subject"><b>@Model.Name</b></h5>

                        <div class="row form-outline mb-4">
                            <label class="form-label" for="finalGrade">Βαθμός μαθήματος</label>
                            <input type="number" id="finalGrade" name="finalGrade" class="form-control form-control-lg" min="0" max="10" />

                        </div>

                        <div class="d-flex justify-content-center row form-outline mb-4">
                            <label class="form-label">Ενδιαφέρον προς το μάθημα</label>
                            <div class="radio-group col-auto">
                                <input type="radio" name="interestScore" class="radio-checked" id="interest1" value="1" />
                                <label class="form-check-label" for="interest1">1</label>
                            </div>
                            <div class="radio-group col-auto">
                                <input type="radio" name="interestScore" class="radio-checked" id="interest2" value="2" />
                                <label class="form-check-label" for="interest2">2</label>
                            </div>
                            <div class="radio-group col-auto">
                                <input type="radio" name="interestScore" class="radio-checked" id="interest3" value="3" />
                                <label class="form-check-label" for="interest3">3</label>
                            </div>
                            <div class="radio-group col-auto">
                                <input type="radio" name="interestScore" class="radio-checked" id="interest4" value="4" />
                                <label class="form-check-label" for="interest4">4</label>
                            </div>
                            <div class="radio-group col-auto">
                                <input type="radio" name="interestScore" class="radio-checked" id="interest5" value="5" />
                                <label class="form-check-label" for="interest5">5</label>
                            </div>
                        </div>
                        <input type="hidden" value="@Model.UUID" name="courseUUID" />

                        <div class="row d-flex justify-content-between">
                            <button class="btn-long-alt" type="submit"><i class="fas fa-arrow-left"></i> Προηγούμενο</button>
                            <button class="btn-long" type="submit">Επόμενο <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </form>                    
                </div>
                <div class="d-flex justify-content-evenly pt-1">
                    <a href="/Home/Dashboard/"> Παρακάμψτε το εισαγωγικό τεστ</a>
                </div>
            </div>
            
            
        </div>

        
    </section>
</body>




