.container {
    background-color: white;
}

a {
    text-decoration: none;
}

.subjects-head {
    
}

.semester-template {
    background-color: #3D348B;
    border-radius: 15px;
    width: 200px;
}

.semester-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.semester-progress {
    font-size: 18px;
    color: white;
}

.expand-arrow {
    color: #F7B801;
}

.subject-card {
    color: white;
}

i {
    font-size: 45px;
}

.details .fa-arrow-circle-right {
    display: none;
}

.details .fa-arrow-circle-down {
    display: initial;
}

.collapsed .fa-arrow-circle-right {
   display: initial;                        
}

.collapsed .fa-arrow-circle-down {
    display: none;
}

