.container {
    background-color: white;
}

a {
    text-decoration: none;
}

.subjects-head {
    
}

.orientation-template {
    background-color: #3D348B;
    border-radius: 15px;
    width: 300px;
}

.orientation-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.orientation-progress {
    font-size: 18px;
    color: white;
}

.expand-arrow {
    color: white;
    font-size: 45px;
}

.subject-card {
    color: white;
}


.details .fa-arrow-circle-right {
    display: initial;
}

.details .fa-arrow-circle-down {
    display: none;
}

.collapsed .fa-arrow-circle-right {
   display: none;                        
}

.collapsed .fa-arrow-circle-down {
    display: initial;
}

.audio-img {
    width: 250px;
    float: right;
}