body {
    background: #f8f8f8;
    background: linear-gradient(-45deg, #7678ED 0%, #7678ED 26%, #3D348B 100%);
}

@media screen and (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media screen and (min-width:480px) { /* smartphones, Android phones, landscape iPhone */
}

@media screen and (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media screen and (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .container {
        border-radius: 25px;
        align-self: center;
        box-shadow: 4px 4px 27px 5px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to right, #f8f8f8 55%, white 55%);
        width: 90%;
        height: 90%;
    }
    .container-alt {
        background: linear-gradient(to right, #f8f8f8 46%, white 46%);
    }
}

@media screen and (min-width:1281px) { /* hi-res laptops and desktops */
    .container {
        border-radius: 25px;
        align-self: center;
        box-shadow: 4px 4px 27px 5px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to right, #f8f8f8 55%, white 55%);
        width: 80%;
        height: 80%;
    }
    .container-alt {
        background: linear-gradient(to right, #f8f8f8 46%, white 46%);
    }
}

@media screen and (min-width:2000px) { /* hi-res laptops and desktops */

    .container {
        border-radius: 25px;
        align-self: center;
        box-shadow: 4px 4px 27px 5px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to right, #f8f8f8 55%, white 55%);
        width: 1800px;
        height: 800px;
    }
    .container-alt {
        background: linear-gradient(to right, #f8f8f8 46%, white 46%);
    }
}




.btn-long {
    color: white;
    font-weight: 500;
    height: 50px;
    font-size: 20px;
    background-color: #3D348B;
    border: 0px;
    border-radius: 15px;
    width: 50%;
    
}

    .btn-long:hover {
        background-color: #7678ED;
    }



.main-img {
    
}

sign-up-img {
    width:100%
}

.logo-img {
    width: 80%;
}

.logo-img-small {
    width: 200px;
}