.btn-long {
    color: white;
    font-weight: 500;
    height: 50px;
    font-size: 20px;
    background-color: #3D348B;
    border: 0px;
    border-radius: 15px;
    width: 50%;
    
}

    .btn-long:hover {
        background-color: #7678ED;
    }



.main-img {
    
}

sign-up-img {
    width:100%
}

.logo-img {
    width: 80%;
}

.logo-img-small {
    width: 200px;
}