.nav {
    width: 100%;
}

.nav-link {
    color: white;
    transition: none;
}

.nav-link:hover {
    color:white;
}

.nav-link:after {
    background-color: cyan;
}

.nav-item {
    font-weight: 500;
    font-size: medium;
    width: 100%;
}

    .nav-item:hover {
        background: linear-gradient(180deg, #7678ED 0%, #7678ED 26%, #3D348B 100%);
        font-weight: 800;
    }

.nav-item-b {
    font-weight: 500;
    font-size: medium;
    width: 100%;
}

    .nav-item-b:hover {
        background: linear-gradient(180deg, #7678ED 0%, #7678ED 26%, #3D348B 100%);
        font-weight: 800;
        border-radius: 0px 0px 25px 25px;
    }

.nav-bg {
    /*background-color: #3D348B;*/
    background: linear-gradient(0deg, #7678ED 0%, #7678ED 26%, #3D348B 100%);
    border-radius: 25px;
    height: inherit;
}

.logo-img {
    width: 90%;
}