.nav {
    width: 100%;
}

.navigation-link {
    color: white;
    transition: none;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}

.navigation-link:hover {
    color:white;
}


.navigation-item {
    font-weight: 500;
    font-size: medium;
    width: 100%;
}

    .navigation-item:hover {
        border: none;
        box-shadow: 4px 4px 27px 5px rgba(0, 0, 0, 0.2);
    }

.navigation-item-b {
    font-weight: 500;
    font-size: medium;
    width: 100%;
}

    .navigation-item-b:hover {
        border-radius: 0px 0px 25px 25px;
        border: none;
        box-shadow: 4px 4px 27px 5px rgba(0, 0, 0, 0.2);

    }

.nav-bg {
    background: linear-gradient(0deg, #7678ED 0%, #7678ED 26%, #3D348B 100%);
    border-radius: 25px;
    height: initial;
}

.logo-img {
    width: 90%;
}