body {
    background: #3D348B;
    background: linear-gradient(-45deg, #7678ED 0%, #7678ED 26%, #3D348B 100%);
}

a {
    color: #393f81;
}

@media screen and (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media screen and (min-width:480px) { /* smartphones, Android phones, landscape iPhone */
}

@media screen and (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media screen and (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .container {
        border-radius: 25px;
        align-self: center;
        box-shadow: 4px 4px 27px 5px rgba(0, 0, 0, 0.2);
        width: 90%;
        height: 90%;
    }
}

@media screen and (min-width:1281px) { /* hi-res laptops and desktops */
    .container {
        border-radius: 25px;
        align-self: center;
        box-shadow: 4px 4px 27px 5px rgba(0, 0, 0, 0.2);
        width: 80%;
        height: 80%;
    }

}

@media screen and (min-width:2000px) { /* hi-res laptops and desktops */

    .container {
        border-radius: 25px;
        align-self: center;
        box-shadow: 4px 4px 27px 5px rgba(0, 0, 0, 0.2);
        width: 1800px;
        height: 800px;
    }

}

.hyperlink {
    color: white;
}

.locked {
    color: rgb(247,184,1);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bold {
    font-weight: bold;
}

.overlay {
    z-index: 9;
}

.error-msg {
    background: rgb(247,184,1);
    background: linear-gradient(-45deg, rgba(247,184,1,1) 0%, rgba(255,121,118,1) 40%, rgba(251,98,160,1) 100%);
    box-shadow: 4px 4px 27px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.error-msg i{
    position: absolute;
    top: 13px;
    right: 20px;
}

.btn-long {
    color: white;
    font-weight: 500;
    height: 50px;
    font-size: 20px;
    background-color: #3D348B;
    border: 0px;
    border-radius: 15px;
    width: 50%;
}

    .btn-long:hover {
        color: white;
        background-color: #7678ED;
    }

.btn-long-alt {
    color: white;
    font-weight: 500;
    height: 50px;
    font-size: 20px;
    background-color: #7678ED;
    border: 0px;
    border-radius: 15px;
    width: 50%;
}

.btn-long-alt:hover {
    border: solid;
    border-width: medium;
    border-color: #3D348B;
}

.radio-checked {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    appearance: none;
}

    .radio-checked:checked {
        background-color: #3D348B;
    }

    .radio-checked[type=radio] {
        border-radius: 50%;
        
    }


progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 250px;
    height: 20px;
    border-radius: 15px;
    color: black;
}

    progress::-webkit-progress-bar {
        background-color: white;
        border-radius: 15px;
    }

    progress::-webkit-progress-value {
        background: #7678ED;
        border-radius: 15px;
    }

    progress:after {
        color: white;
        float: right;
        content: attr(value) '%';
    }


.progress-red {
    color: black;
}

    .progress-red::-webkit-progress-value {
        background-color: #F35B04;
    }

    .progress-red::-moz-progress-bar {
        background-color: white;
    }

.progress-yellow {
    color: #F7B801;
}

    .progress-yellow::-webkit-progress-value {
        background-color: #F7B801;
    }

    .progress-yellow::-moz-progress-bar {
        background-color: white;
    }

.progress-purple {
    color: #7678ED;
}

    .progress-purple::-webkit-progress-value {
        background-color: #7678ED;
    }

    .progress-purple::-moz-progress-bar {
        background-color: white;
    }


.audio-btn {
    color: #3D348B;
    font-size: 60px;
}

.audio-btn:hover {
    color: #7678ED;
}

.description {
    font-size: 15px;
    color: #7678ED;
}