body {
    background-color: #f8f8f8;
    font-family: Arial;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bold {
    font-weight: bold;
}