.container {
    background-color: white;
}

.radio-group {
    display: inline-block;
    margin-right: 10px; /* Adjust this value for spacing between radio buttons */
}

.btn-long {
    max-width: 200px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

    .btn-long:hover {
        color: white;
        background-color: #7678ED;
    }

.btn-long-alt {
    max-width: 200px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

    .btn-long-alt:hover {
        border: solid;
        border-width: medium;
        border-color: #3D348B;
    }


