@model Tuple<CourseQuizGrade, Dictionary<Question, string>>

@{
    ViewData["Title"] = "FailedExam";
}

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/finished-test.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>


<body class="vh-100">
    <div class="container center">
        <div class="center">
            <h1 class="d-flex justify-content-evenly mt-5"><b>Ουπς!</b></h1>
            <h6 class="d-flex justify-content-evenly">Το σκορ σας είναι @Model.Item1.Grade%. Χρειάζεστε τουλάχιστον 50% για να περάσετε το μάθημα.</h6>
            <div class="d-flex justify-content-evenly">
                <img src="~/images/failed-test.png"
                     alt="login form" class="main-img" />
            </div>
            
            @foreach (var item in Model.Item2)
                        {
                            <h5>@item.Key.Content</h5>
                                         @item.Value
                                         
                                         <br/>
                        }
            
            
            <div class="d-flex justify-content-evenly pt-1 my-5">
                <a href="#" class="px-auto">Δες σε ποιες ερωτήσεις απάντησες λάθος</a>
            </div>
            
        </div>
        
    </div>
    
</body>




