@model Tuple<CourseQuizGrade, Dictionary<Question, string>>

@{
    ViewData["Title"] = "FinishedExam";
}

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/finished-test.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>


<body class="vh-100">
    <div class="container center" style="overflow:auto;">
        <div class="center">
            <h1 class="d-flex justify-content-evenly mt-5"><b>Συγχαρητήρια!</b></h1>
            <h6 class="d-flex justify-content-evenly">Ολοκληρώσατε το τεστ με σκορ @Model.Item1.Grade%! Μπορείτε να μεταβείτε στην αρχική κάνωντας κλικ στο παρακάτω κουμπί.</h6>
            <div class="d-flex justify-content-evenly">
                <img src="~/images/finished-quiz.png"
                     alt="login form" class="main-img" />
            </div>
            
            <h3 style="color:#3D348B">ΟΙ ΑΠΑΝΤΗΣΕΙΣ ΣΑΣ:</h3>
                        
            @foreach (var item in Model.Item2)
            {
                <h5 class="mt-3">@item.Key.Content</h5>
                <p class="mb-3">@item.Value</p>
                             
                             
            }
            
            <div class="d-flex justify-content-evenly pt-1 my-3">
                <a href="/Home/Dashboard" class="btn-long btn-proceed px-auto">Αρχική σελίδα</a>
            </div>
            
            
            
        </div>
        
    </div>
    
</body>




