@{
    ViewData["Title"] = "Quiz";
}

@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/test.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
}

<div class="px-5 py-5" style="height:inherit">
        <h1 class="d-flex justify-content-evenly my-5"><b>Μάθημα - Κεφάλαιο</b></h1>
        
        <div>
        <h6 class="d-flex justify-content-start mt-5">Κείμενο ερώτησης</h6>
        <div class="row radio-group type-choose ">
                <div class="row radio-group my-1">
                    <input type="radio" name="choice-answer" class="col-1" id="" value="" />
                    <label class="form-check-label col-9" for="interest2">Επιλογή 1</label>
                </div>

            <div class="row radio-group my-1">
                <input type="radio" name="choice-answer" class="col-1" id="" value="" />
                    <label class="form-check-label col-9" for="interest2">Επιλογή 2</label>
                </div>

            <div class="row radio-group my-1">
                <input type="radio" name="choice-answer" class="col-1" id="" value="" />
                    <label class="form-check-label col-9" for="interest2">Επιλογή 3</label>
                </div>

            <div class="row radio-group my-1">
                <input type="radio" name="choice-answer" class="col-1" id="" value="" />
                    <label class="form-check-label col-9" for="interest2">Επιλογή 4</label>
                </div>
            </div>

        <h6 class="d-flex justify-content-start mt-5">Κείμενο ερώτησης</h6>
            <div class="row type-write">
                <input type="text" name="text-answer" id="text-answer" class="form-control form-control-lg" />
            </div>
            
                <div class="row d-flex justify-content-evenly mt-5">
                    <button class="btn-long-alt" type="submit">Ακύρωση</button>
                    <button class="btn-long" type="submit">Τέλος τεστ</button>
                </div>
            
        </div>
</div>



