@{
    ViewData["Title"] = "CoursePage";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
    
    </body>
</html>